<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% if (!username) { %>
    <form action="/login" method="POST">
      <div class="form-group mb-2">
      <label for="exampleInputEmail1">Username</label>
        <input class="form-control" type="text" name="username" placeholder="Enter your username" style="width: 300px; margin: 1em">
        <button type="submit" class="btn btn-primary">
          Login
        </button>
      </div>
    </form>
  <% } else { %>
    Logged in as: <%= username %>
    <form class="form-inline" action="/logout" method="POST">
      <p>
      <button type="submit" class="btn btn-primary">
        Logout
      </button>
      </p>
    </form>
  <% } %>
<div>
  <!-- Navigation Links -->
    <a href='http://localhost:8080/urls/new'>Shorten a URL</a>
    <a href='http://localhost:8080/urls'>View all Tiny URL's</a>
</div>

</body>
</html>