<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
				integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body>
  <H1>Tiny App</H1>
  <% if (!user_id) { %>
    <div>
      <a href="/register">Register</a> | <a href="/login">Login</a>
    </div>
    <% } else { %>
    <div>
      <a href="/urls/">URLS</a> | <a href="/urls/new">Create a new TinyURL</a>
    </div>
    <div class="btn-group" role="group">
      <form method="POST" action="/logout">
        <button type="submit" class="btn btn-primary btn-sm ">Logout</button>
      </form>
    </div>
  <% } %>


  </body>
</html>


