<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
  <H1>Tiny App</H1>
  <% if (user_id) { %>
    <form action="/logout" method="POST" type="submit" value="Logout">
     <%= user_id %>
    <button>Logout</button>
    </form>
  <% } else{ %>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
  <% } %>
<body>
</header>
<div>
  <!-- Navigation Links -->
    <a href='http://localhost:8080/urls/new'>Shorten a URL</a>
    <a href='http://localhost:8080/urls'>View all Tiny URL's</a>
</div>
  </body>
</html>