<!-- views/register.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
				integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
  <h1>Login</h1>
  <form action="/login" method="POST" name="login" type="login" value="email">
    <label for="email">Email:</label>
    <input id="email" type="email" name="email" placeholder="email" style="width: 200px">
    <label for="password">Password:</label>
    <input id="password" type="password" name="password" placeholder="password" style="width: 200px">
    <button>Submit</button>
  </form>
</body>
</html>